doctype html
html(lang="ja", dir="ltr")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="format-detection", content="telephone=no")
		title Title
		link(href="/assets/style/common.css", rel="stylesheet")
		script(src="/assets/script/common.js", deffer)
	body
		h1 Pug
		hr
		img.img(src="", title="aaaa", alt="", width="111", height="90")
		hr
		button.btn(disabled)
		iframe(src="", title="", loading="lazy")
